In [2]:
import pandas as pd
import numpy as np
import re

In [ ]:
# 35. create a dataframe with rows as strides from a given series
L = pd.Series(range(15))

# Solution
def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size-window_len)//stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]])

gen_strides(L, stride_len=2, window_len=4)

In [54]:
# 34. change column values when importing csv to a dataframe
# Import the boston housing dataset, but while importing change the 'medv' (median house value) column 
# so that values < 25 becomes ‘Low’ and > 25 becomes ‘High
boston = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',
                    converters = {'medv': lambda x: 'High' if float(x)>25 else 'Low'})
boston.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,Low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,Low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,High
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,High
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,High

In [50]:
# 33. Import every 50th row of BostonHousing dataset as a dataframe.
boston = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')

# ANSWER
df = pd.DataFrame()
for i in range(0,len(boston),50):
    df = df.append(boston.iloc[i,:])

# Solution 1: Use chunks and for-loop
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.DataFrame()
for chunk in df:
    df2 = df2.append(chunk.iloc[0,:])


# Solution 2: Use chunks and list comprehension
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
df2 = df2.transpose()

# Solution 3: Use csv reader
import csv          
with open('BostonHousing.csv', 'r') as f:
    reader = csv.reader(f)
    out = []
    for i, row in enumerate(reader):
        if i%50 == 0:
            out.append(row)

df2 = pd.DataFrame(out[1:], columns=out[0])
print(df2.head())

,age,b,chas,crim,dis,indus,lstat,medv,nox,ptratio,rad,rm,tax,zn
0,65.2,396.90,0.0,0.00632,4.0900,2.31,4.98,24.0,0.538,15.3,1.0,6.575,296.0,18.0
50,45.7,395.56,0.0,0.08873,6.8147,5.64,13.45,19.7,0.439,16.8,4.0,5.963,243.0,21.0
100,79.9,394.76,0.0,0.14866,2.7778,8.56,9.42,27.5,0.520,20.9,5.0,6.727,384.0,0.0
150,97.3,372.80,0.0,1.65660,1.6180,19.58,14.10,21.5,0.871,14.7,5.0,6.122,403.0,0.0
200,13.9,384.30,0.0,0.01778,7.6534,1.47,4.45,32.9,0.403,17.0,3.0,7.135,402.0,95.0
250,13.0,396.28,0.0,0.14030,7.3967,5.86,5.90,24.4,0.431,19.1,7.0,6.487,330.0,22.0
300,47.4,390.86,0.0,0.04417,7.8278,2.24,6.07,24.8,0.400,14.8,5.0,6.871,358.0,70.0
350,44.4,396.90,0.0,0.06211,8.7921,1.25,5.98,22.9,0.429,19.7,1.0,6.490,335.0,40.0
400,100.0,396.90,0.0,25.04610,1.5888,18.10,26.77,5.6,0.693,20.2,24.0,5.987,666.0,0.0
450,92.6,0.32,0.0,6.71772,2.3236,18.10,17.44,13.4,0.713,20.2,24.0,6.749,666.0,0.0
500,79.7,396.90,0.0,0.22438,2.4982,9.69,14.33,16.8,0.585,19.2,6.0,6.027,391.0,0.0

In [33]:
# 32. Compute autocorrelations for the first 10 lags of ser. Find out which lag has the largest correlation.
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

# Solution
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

[0.29, 0.02, 0.15, 0.2, 0.23, 0.06, 0.11, -0.17, 0.32, 0.77]
Lag having highest correlation:  10

In [57]:
# 31. ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

fill_dates = pd.date_range(start=ser.index.min(), end= ser.index.max())
ser = ser.reindex(fill_dates)

for i in range(1,len(ser)):
    if pd.isna(ser[i]) == True:
        ser[i] = ser[i-1]
print('Answer: \n',ser)

# Solution
ser.resample('D').ffill()  # fill with previous value

# Alternatives
ser.resample('D').bfill()  # fill with next value
ser.resample('D').bfill().ffill()  # fill next else prev value

# For doc on 'D'
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64
Answer:
 2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

In [5]:
# 30.  create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?
import random
df = pd.DataFrame()
df['dates'] = pd.date_range(start = '2000-01-01', periods = 10, freq = '7D')
df['values'] = np.random.randint(0,100,10)
df

       dates  values
0 2000-01-01      88
1 2000-01-08      63
2 2000-01-15      10
3 2000-01-22      39
4 2000-01-29      65
5 2000-02-05      51
6 2000-02-12      10
7 2000-02-19       1
8 2000-02-26      14
9 2000-03-04      39

In [6]:
# 29. Replace the spaces in my_str with the least frequent character.
import collections
my_str = 'dbc deb abed gade'
let,count = collections.Counter(my_str).most_common()[-1]
print(my_str.replace(' ', let))

dbcgdebgabedggade

In [54]:
# 28. Get the positions of peaks(local maxima) (values surrounded by smaller values on both sides) in ser.
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

np.diff(np.sign(np.diff(ser)))

array([-2,  2,  0,  0, -2,  2, -2], dtype=int64)

In [51]:
# 27. Compute the euclidean distance between series (points) p and q, without using a packaged formula.
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

hypotenuse = np.sqrt(sum((q-p)**2)) #square root of (q1-p1)^2+(q2-p2)^2

solution1 = sum((p - q)**2)**.5
solution2 = np.linalg.norm(p-q)

hypotenuse == solution2

True

In [42]:
# 26. Compute the mean of weights of each fruit.
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weight = pd.Series(np.linspace(1, 10, 10))
print(weight.tolist()) #> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
print(fruit.tolist())  #> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

df = pd.DataFrame({'fruit':fruit, 'weight':weight})
Answer = df.groupby(fruit).agg('mean')

Solution = weights.groupby(fruit).mean()

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'apple', 'banana', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'apple', 'carrot']

        weight
apple      5.0
banana     4.5
carrot     7.0

In [35]:
# 25. Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

emails[emails.str.contains(pattern)]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [52]:
# 24. From ser, extract words that contain atleast 2 vowels.
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

# Attempt using regex
pattern = r'\b(?=\w*([aeiou])\w*(?!\1)[aeiou])\w+'
ser[ser.str.contains(pattern, case=False)]

# from collections import Counter
# mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
# ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

In [18]:
# 23. Change ser to dates that start with 4th of the respective months.
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

from dateutil.parser import parse
ser.map(lambda x: parse('04'+ x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

In [14]:
# 22. Get the day of month, week number, day of year and day of week from ser.
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser = pd.to_datetime(ser)

# day (of the month) as a list
day = ser.dt.day.to_list()
# week number
week_num  = ser.dt.weekofyear.to_list()
# day of the year
day_count = ser.dt.dayofyear.to_list() 
# day of week
day_name  = ser.dt.weekday_name.to_list()

['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

In [2]:
# 21. Convert a series of date-strings to a timeseries
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
Ans = pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

In [72]:
# 20. Difference of differences between the consequtive numbers of ser.
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

def diff(ser):
    cnt = len(ser)-1
    lst = []
    while cnt>0:
        diff = ser[cnt]-ser[cnt-1]
        lst.append(diff)
        cnt-=1
    return lst[::-1]

print(diff(ser))
print(diff(diff(ser)))
Answer_lol = diff(diff(ser))

# Solution
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[2, 3, 4, 5, 6, 6, 8]
[1, 1, 1, 1, 0, 2]
[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [66]:
# 19. Calculate the number of characters in each word in a series
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
Answer = ser.apply(lambda x: len(x))

Solution = ser.map(lambda x: len(x))

In [55]:
# 18. Change the first character of each word to upper case in each word of ser.
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
Answer = ser.apply(lambda x: x.capitalize())

# Solution 1
ser.map(lambda x: x.title())
# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])
# Solution 3
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [49]:
# 17. Compute the mean squared error of truth and pred series.
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

from sklearn.metrics import mean_squared_error 
print(mean_squared_error(truth, pred))

# Solution
np.mean((truth-pred)**2)

0.3190862024467406

0.3190862024467406

In [47]:
# 16. Get the positions of items of ser2 in ser1 as a list.
    # positions of items = index
    # [index] of ser2 
    # in ser1
# Get a list of positions in ser1 based on the items in ser2
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [58]:
# 15. Stack ser1 and ser2 vertically and horizontally (to form a dataframe).
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
Answer = pd.DataFrame(ser2, index=ser1)

# Vertical
ser1.append(ser2)
# Horizontal
Solution = pd.concat([ser1, ser2], axis=1)

In [24]:
# 14. From ser, extract the items at positions in list pos.
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
Answer = ser[pos]

Solution = ser.take(pos)
Answer == Solution

0     True
4     True
8     True
14    True
20    True
dtype: bool

In [35]:
# 13. Find the positions of numbers that are multiples of 3 from ser.
ser = pd.Series(np.random.randint(1, 10, 7))

Solution = np.argwhere(ser % 3==0)
Solution

array([[1],
       [5]], dtype=int64)

In [17]:
# 12. Reshape the series ser into a dataframe with 7 rows and 5 columns
ser = pd.Series(np.random.randint(1, 10, 35))

ser = ser.values.reshape(7,5)
Solution = pd.DataFrame(ser)

In [73]:
# 11. Bin the series ser into 10 equal deciles and replace the values with the bin name.
ser = pd.Series(np.random.random(20))
label = ['1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th']
Answer = pd.cut(ser, bins=10, labels = label)

Solution = pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], labels=label)
Solution == Answer

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12     True
13     True
14    False
15    False
16    False
17     True
18     True
19    False
dtype: bool

In [71]:
# 10. From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
Answer = ser.replace(ser.value_counts()[2:].array, 'Other')

# solution
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

0     Other
1     Other
2         4
3         3
4     Other
5     Other
6     Other
7     Other
8     Other
9     Other
10        4
11    Other
dtype: object

In [73]:
# 9. Calculte the frequency counts of each unique value ser.
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
Answer = ser.value_counts() # Same solution

In [40]:
# 8. Compute the minimum, 25th percentile, median, 75th, and maximum of ser.
ser = pd.Series(np.random.normal(10, 5, 25))
print('25th %tile ',np.percentile(ser, 25))
print('median is ',np.median(ser))
print('75th %tile:',np.percentile(ser,75))
print('Maximum:',np.max(ser))

Alternative = pd.DataFrame(ser).quantile([0,.25,.5,.75,1])
solution = np.percentile(ser, q=[0, 25, 50, 75, 100])

25th %tile  6.39987649209279
median is  10.732910613094111
75th %tile: 13.111300296917593
Maximum: 24.777514989631122

In [32]:
# 7. Get all items of ser1 and ser2 not common to both.
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
Answer = pd.concat([ser1[~ser1.isin(ser2)],ser2[~ser2.isin(ser1)]])

ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
solution = ser_u[~ser_u.isin(ser_i)]

Answer == solution[Answer.index]
# Key difference: the index values are different between the 2 series

0     True
1     True
2     True
2    False
3    False
4    False
dtype: bool

In [41]:
# 6. From ser1 remove items present in ser2.
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
solution = ser1[~ser1.isin(ser2)] #what is '~': represents inverse

In [39]:
# 5. Give a name to the series ser calling it ‘alphabets’.
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
Answer = ser.rename('alphabets')

# Solution:
ser.name = 'alphabets'

In [30]:
# 4. Combine ser1 and ser2 to form a dataframe.
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

Answer = pd.DataFrame({'ser1':ser1,'ser2':ser2})

In [21]:
# 3. Convert the series ser into a dataframe with its index as another column on the dataframe.
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr  = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser    = pd.Series(mydict)

mylist = pd.DataFrame(mylist)
myarr  = pd.DataFrame(myarr)
mydict = pd.DataFrame(mydict, index = [0])
ser    = pd.DataFrame(ser).reset_index() #Same solution

In [8]:
# 2. Create a pandas series from each of the items below: a list, numpy and a dictionary
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr  = np.arange(26)
mydict = dict(zip(mylist, myarr))

mylist = pd.Series(mylist)
myarr  = pd.Series(myarr)
mydict = pd.Series(mydict)

https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [5]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data)

In [8]:
# 5. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.
df[['name','score']]

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
3      James    NaN
4      Emily    9.0
5    Michael   20.0
6    Matthew   14.5
7      Laura    NaN
8      Kevin    8.0
9      Jonas   19.0

In [5]:
# 4. Write a Pandas program to get the first 3 rows of a given DataFrame.
df.iloc[:3]

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

In [6]:
# 3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.
df.describe()   # Statistic
df.info()       # Summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
name        10 non-null object
score       8 non-null float64
attempts    10 non-null int64
qualify     10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 448.0+ bytes

In [7]:
# 2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels. 

# What does it mean to "display ... data which has the index labels"
#     dictionary first array are columns
#     separete list to attach index


# df.set_index(labels)                         # Error because labels are not columns
df.rename(dict(enumerate(labels)), axis=0)     # rename needs a dictionary old:new

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [12]:
# 1. Write a Pandas program to get the powers of an array values element-wise.
# Note: First array elements raised to powers from second array


# What is "powers of an array value element-wise"?
    # powers = exponent
    # array = x, y, z
    # element = individual values

Sample_data = {'X':[78,85,96,80,86], 
               'Y':[84,94,89,83,86],
               'Z':[86,97,96,72,83]}
df = pd.DataFrame(Sample_data)

# first attempt
Answer = np.power(df.X, df.Y)

# Second attempt: dissecting 
df['Answer'] = 0
for i in range(len(df.X)):
    print(df.X[i], df.Y[i])
    df.Answer[i] = np.power(df.X[i], df.Y[i])
    
df.Answer

78 84
85 94
96 89
80 83
86 86

0                      0
1    4551265826121030281
2                      0
3                      0
4                      0
Name: Answer, dtype: int64

https://www.w3resource.com/python-exercises/pandas/index-dataframe.php