In [1]:
import pandas as pd
import numpy as np

In [72]:
# 20. Difference of differences between the consequtive numbers of ser.
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

def diff(ser):
    cnt = len(ser)-1
    lst = []
    while cnt>0:
        diff = ser[cnt]-ser[cnt-1]
        lst.append(diff)
        cnt-=1
    return lst[::-1]

print(diff(ser))
print(diff(diff(ser)))
Answer_lol = diff(diff(ser))

# Solution
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[2, 3, 4, 5, 6, 6, 8]
[1, 1, 1, 1, 0, 2]
[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [66]:
# 19. Calculate the number of characters in each word in a series
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
Answer = ser.apply(lambda x: len(x))

Solution = ser.map(lambda x: len(x))

In [55]:
# 18. Change the first character of each word to upper case in each word of ser.
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
Answer = ser.apply(lambda x: x.capitalize())

# Solution 1
ser.map(lambda x: x.title())
# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])
# Solution 3
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [49]:
# 17. Compute the mean squared error of truth and pred series.
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

from sklearn.metrics import mean_squared_error 
print(mean_squared_error(truth, pred))

# Solution
np.mean((truth-pred)**2)

0.3190862024467406

0.3190862024467406

In [47]:
# 16. Get the positions of items of ser2 in ser1 as a list.
    # positions of items = index
    # [index] of ser2 
    # in ser1
# Get a list of positions in ser1 based on the items in ser2
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [58]:
# 15. Stack ser1 and ser2 vertically and horizontally (to form a dataframe).
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
Answer = pd.DataFrame(ser2, index=ser1)

# Vertical
ser1.append(ser2)
# Horizontal
Solution = pd.concat([ser1, ser2], axis=1)

In [24]:
# 14. From ser, extract the items at positions in list pos.
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
Answer = ser[pos]

Solution = ser.take(pos)
Answer == Solution

0     True
4     True
8     True
14    True
20    True
dtype: bool

In [35]:
# 13. Find the positions of numbers that are multiples of 3 from ser.
ser = pd.Series(np.random.randint(1, 10, 7))

Solution = np.argwhere(ser % 3==0)
Solution

array([[1],
       [5]], dtype=int64)

In [17]:
# 12. Reshape the series ser into a dataframe with 7 rows and 5 columns
ser = pd.Series(np.random.randint(1, 10, 35))

ser = ser.values.reshape(7,5)
Solution = pd.DataFrame(ser)

In [73]:
# 11. Bin the series ser into 10 equal deciles and replace the values with the bin name.
ser = pd.Series(np.random.random(20))
label = ['1st','2nd','3rd','4th','5th','6th','7th','8th','9th','10th']
Answer = pd.cut(ser, bins=10, labels = label)

Solution = pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], labels=label)
Solution == Answer

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12     True
13     True
14    False
15    False
16    False
17     True
18     True
19    False
dtype: bool

In [71]:
# 10. From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
Answer = ser.replace(ser.value_counts()[2:].array, 'Other')

# solution
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

0     Other
1     Other
2         4
3         3
4     Other
5     Other
6     Other
7     Other
8     Other
9     Other
10        4
11    Other
dtype: object

In [73]:
# 9. Calculte the frequency counts of each unique value ser.
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
Answer = ser.value_counts() # Same solution

In [40]:
# 8. Compute the minimum, 25th percentile, median, 75th, and maximum of ser.
ser = pd.Series(np.random.normal(10, 5, 25))
print('25th %tile ',np.percentile(ser, 25))
print('median is ',np.median(ser))
print('75th %tile:',np.percentile(ser,75))
print('Maximum:',np.max(ser))

Alternative = pd.DataFrame(ser).quantile([0,.25,.5,.75,1])
solution = np.percentile(ser, q=[0, 25, 50, 75, 100])

25th %tile  6.39987649209279
median is  10.732910613094111
75th %tile: 13.111300296917593
Maximum: 24.777514989631122

In [32]:
# 7. Get all items of ser1 and ser2 not common to both.
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
Answer = pd.concat([ser1[~ser1.isin(ser2)],ser2[~ser2.isin(ser1)]])

ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
solution = ser_u[~ser_u.isin(ser_i)]

Answer == solution[Answer.index]
# Key difference: the index values are different between the 2 series

0     True
1     True
2     True
2    False
3    False
4    False
dtype: bool

In [41]:
# 6. From ser1 remove items present in ser2.
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
solution = ser1[~ser1.isin(ser2)] #what is '~': represents inverse

In [39]:
# 5. Give a name to the series ser calling it ‘alphabets’.
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
Answer = ser.rename('alphabets')

# Solution:
ser.name = 'alphabets'

In [30]:
# 4. Combine ser1 and ser2 to form a dataframe.
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

Answer = pd.DataFrame({'ser1':ser1,'ser2':ser2})

In [21]:
# 3. Convert the series ser into a dataframe with its index as another column on the dataframe.
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr  = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser    = pd.Series(mydict)

mylist = pd.DataFrame(mylist)
myarr  = pd.DataFrame(myarr)
mydict = pd.DataFrame(mydict, index = [0])
ser    = pd.DataFrame(ser).reset_index() #Same solution

In [8]:
# 2. Create a pandas series from each of the items below: a list, numpy and a dictionary
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr  = np.arange(26)
mydict = dict(zip(mylist, myarr))

mylist = pd.Series(mylist)
myarr  = pd.Series(myarr)
mydict = pd.Series(mydict)

https://www.machinelearningplus.com/python/101-pandas-exercises-python/

In [5]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data)

In [8]:
# 5. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.
df[['name','score']]

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
3      James    NaN
4      Emily    9.0
5    Michael   20.0
6    Matthew   14.5
7      Laura    NaN
8      Kevin    8.0
9      Jonas   19.0

In [5]:
# 4. Write a Pandas program to get the first 3 rows of a given DataFrame.
df.iloc[:3]

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

In [6]:
# 3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.
df.describe()   # Statistic
df.info()       # Summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
name        10 non-null object
score       8 non-null float64
attempts    10 non-null int64
qualify     10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 448.0+ bytes

In [7]:
# 2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels. 

# What does it mean to "display ... data which has the index labels"
#     dictionary first array are columns
#     separete list to attach index


# df.set_index(labels)                         # Error because labels are not columns
df.rename(dict(enumerate(labels)), axis=0)     # rename needs a dictionary old:new

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [12]:
# 1. Write a Pandas program to get the powers of an array values element-wise.
# Note: First array elements raised to powers from second array


# What is "powers of an array value element-wise"?
    # powers = exponent
    # array = x, y, z
    # element = individual values

Sample_data = {'X':[78,85,96,80,86], 
               'Y':[84,94,89,83,86],
               'Z':[86,97,96,72,83]}
df = pd.DataFrame(Sample_data)

# first attempt
Answer = np.power(df.X, df.Y)

# Second attempt: dissecting 
df['Answer'] = 0
for i in range(len(df.X)):
    print(df.X[i], df.Y[i])
    df.Answer[i] = np.power(df.X[i], df.Y[i])
    
df.Answer

78 84
85 94
96 89
80 83
86 86

0                      0
1    4551265826121030281
2                      0
3                      0
4                      0
Name: Answer, dtype: int64

https://www.w3resource.com/python-exercises/pandas/index-dataframe.php